<h1 class="comic-font center">All Comics</h1>
<br>
<div class="pagination justify-content-center comic-font">
  <%= paginate @comics %>
</div>
<br>
<%= render 'comic', comic: @comics, series: @series %>
<div class="pagination justify-content-center comic-font">
  <%= paginate @comics %>
</div>