<% if obj.errors.any? %> 
  <div class="card text-danger border-danger mb-3 center">
    <div class="card-header">
      <h2> The following errors prohibited this comic from being saved:</h2>
    </div>
    <div class="card-body">
      <div class="card-text">
        <% obj.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %> 
      </div>
    </div>
  </div>
<% end %> 