<h1 class="center comic-font">All Publishers</h1>
<div class="center"> 
  <%= link_to "New Publisher", new_publisher_path, class: "btn btn-light btn-med" %>
</div>
<br>
<div class="center">
  <% @publishers.each do |publisher| %>
    <div class="card bg-light border-light col-xs-8 col-xs-offset-2">   
      <%= link_to "#{publisher.name}", publisher_path(publisher) %>
    </div>
    <br>
  <% end %>
</div> 
<br>
<div class="center"> 
  <%= link_to 'Back to Comics Index', comics_path, class: "btn btn-light btn-med" %>
</div>



