<br>
<h1 class="center comic-font"><%= @publisher.name %></h1> 
<br>
<% @publisher.series.each do |series| %>
  <div class="center card bg-light border-light col-xs-8 col-xs-offset-2" >
    <%= link_to series.title, series_path(series) %> 
  </div>
  <br>
<% end %> 
<br>
<div class="center">
    <%= link_to "Back to Publishers", publishers_path, class: "btn btn-light btn-med" %>
  </div>