
<div class="center jumbotron">
  <h2 class="comic-font"> Comic Book Room</h2>
  <br><br>
  <%= link_to 'Log In', login_path, class: "btn btn-outline-dark btn-lg" %>
  <br><br>
  <%= link_to 'Sign Up', signup_path, class: "btn btn-outline-dark btn-lg" %>
</div>
