.comic-font {
  font-family: 'Permanent Marker', cursive;
}

.center {
  text-align: center;
}

.home-body {
  background-image: asset-url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  margin-top: 100px;
  width: 450px;
  height: 450px;
}

.remove-underline {
  text-decoration: none;
}

#colors {
  background-color: rebeccapurple;
}

.comic-meta-details {
  margin-top: 15px; 
  color: grey;
}